{% extends 'job/base.html' %}
{% block body %}
        {% for job in object_list %}
<div class="page-header">
  <h1>{{ job.title }} <small>{{ job.description }}</small></h1>
</div>
            <h3>{{ job.location }}</h3>
       <form action="{%url 'job:job-update' job.id %}" method="GET">
            {% csrf_token %}
            <input type="hidden" name="job_id" value="{{ job.id }}"/>
            <button type="submit" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-file">&nbsp;UPDATE</span>
            </button>
        </form>

        <form action="{%url 'job:job-delete' job.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="job_id" value="{{ job.id }}"/>
            <button type="submit" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash">&nbsp;DELETE</span>
            </button>
        </form>
        {% endfor %}
{% endblock %}